body {
   
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 15%;
    background-color: black;
  
}
.content {
    display: flex;
    flex-direction: column;
    flex:1;
   
    justify-content: center;
    
}
.header {
    display: flex;
   background-color: #1f2937;
   color: white;
    justify-content: space-between;
}
.header div {
    display: flex;   
}

.container {
    display: flex;
   
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.container.one {
    background-color: #1f2937;
   color: white;
}
.container.two {
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}
.container .image {
    display: flex;
}

.container.three {
    background-color: #E5E7EB;
}

.container.four {
    background-color: white;    
}

.inner {
    display: flex;
    background-color: blue ;
    color: white;
    border-radius: 10px;
    height: 150px;
    flex-grow: 1;   
    align-items: center;
    justify-content: center;
    
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
}