body {
   
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 15%;
    background-color: black;
}
.content {
    display: flex;
    flex-direction: column;
    flex:1;
    border: 2px sold slateblue;
    justify-content: center;
}
.header {
    display: flex;
   background-color: #1f2937;
   color: white;
    justify-content: space-between;
}
.header div {
    display: flex;   
}

.container {
    display: flex;
   
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.container.one {
    background-color: #1f2937;
   color: white;
}
.container.two {
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}
.container .image {
    display: flex;
}

.container.three {
    background-color: #E5E7EB;
}

.container.four {
    display: flex;
    background-color: white;
}

.footer {
    text-align: center;
}